@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500;600&display=swap');
#body {
    background: url('../img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    font-family: 'Kanit', sans-serif;
}

#maintenance {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    margin: 3rem 5rem;
    height: 100%;
}

/* #maintenance div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
} */

#maintenance img {
    width: 10rem
}

#maintenance h1 {
    color: #fdfdfd;
    font-size: 4rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
#maintenance h2 {
    color: #fdfdfd;
    font-weight: 400;
}

#maintenance p {
    color: #b2bec3;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

.subscribe {
    margin-top: 3rem;
    width: 45%;
}

.subscribe form {
    position: relative;
}

.email {
    background: rgba(0, 0, 0, 0.6);
    border: 0;
    width: 100%;
    padding: 13px 0px 13px 20px;
    border-radius: 0.2rem;
    opacity: 0.5;
    color: #fdfdfd;
    font-family: 'Kanit', sans-serif;
    font-size: 1.4rem;
    box-sizing: border-box;
}

.notify {
    position: absolute;
    color: #fdfdfd;
    cursor: pointer;
    bottom: 3px;
    right: 4px;
    font-size: 1.4rem;
    padding: 10px 19px;
    border-radius: 0.2rem;
    background: #959521;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #eee;
}

footer p {
    font-size: 1.5rem;
    color: #fdfd;
}